:root {
  --nav: #ff9f43;
  --body-color: #ee5253;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav ul {
  background-color: var(--nav);
  display: flex;
  height: 4rem;
  justify-content: flex-end;
}

nav li {
  list-style: none;
  padding: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav li a:hover {
  color: #ddd;
  font-size: 1.2rem;
}

#bg {
  background: url('../img/marketing.jpg') no-repeat center/cover;
  height: 100vh;
  width: 100%;
}

h1 {
  font-size: 4rem;
  text-align: center;
  padding: 10px;
}

p {
  font-size: 1.2rem;
  line-height: 1.2;
  padding: 35px;
}

.background {
  background-color: var(--body-color);
  height: 550px;
}

footer {
  background-color: var(--nav);
  height: 150px;
}

@media(max-width: 600px) {
  nav ul {
    display: flex;
    /* flex-direction: column; 
    /* align-items: center; */
    align-content: center;
    padding: 5px;
    font-size: 15px;
    max-width: 100%;
  }

  nav li {
    display: flex;
    margin-right: 7px;
    padding: 20 px;
  }

  nav ul:hover {
    background-color: var(--nav);
  }

  #bg {
    height: 70vh;
    width: 100%;
  }
}